<div class="footer">
  <div>Henry Brooks</div>

  <button (click)="darkmode()" class="btn btn-secondary">Dark mode</button>

  <div ngbDropdown class="dropdown">
    <button class="dropdown-toggle btn-dark btn bg-primary" ngbDropdownToggle href="javascript:void(0);">Dropdown</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <a class="dropdown-item">
        <span>Theme 1</span>
      </a>
      <a class="dropdown-item">
        <span>Theme 2</span>
      </a>
      <a class="dropdown-item">
        <span>Theme 3</span>
      </a>
    </div>
  </div>
</div>
