<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="round">
      <h2 data-cy="roundDetailsHeading"><span jhiTranslate="sapsocLeagueApp.round.detail.title">Round</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ round.id }}</span>
        </dd>
        <dt><span jhiTranslate="sapsocLeagueApp.round.roundNo">Round No</span></dt>
        <dd>
          <span>{{ round.roundNo }}</span>
        </dd>
        <dt><span jhiTranslate="sapsocLeagueApp.round.week">Week</span></dt>
        <dd>
          <div *ngIf="round.week">
            <a [routerLink]="['/week', round.week.id, 'view']">{{ round.week.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/round', round.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
