<div class="profile_card" *ngIf="profileId && leaguePlayer">
  <h2>{{ leaguePlayer.firstName }} {{ leaguePlayer.lastName }}</h2>

  <p>ELO: {{ leaguePlayer.eloRating }}</p>

  <label>Year:</label>
  <select (change)="onYearChange($event)">
    <option [value]="null">All Time</option>
    <option *ngFor="let year of years" [value]="year.id">
      {{ year.yearStart }}
    </option>
  </select>

  <label>Semester:</label>
  <select (change)="onSemesterChange($event)">
    <option [value]="null">All</option>
    <option *ngFor="let semester of semesters" [value]="semester.id">Semester {{ semester.semesterNum }}</option>
  </select>

  <br />

  Win percentage: {{ winPercentage }}%
  <br />
  Wins: {{ filteredWins }}
  <br />
  Losses: {{ filteredLosses }}
</div>
