<div>
  <h2 id="page-heading" data-cy="LeagueYearHeading">
    <span jhiTranslate="sapsocLeagueApp.leagueYear.home.title">League Years</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sapsocLeagueApp.leagueYear.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-league-year"
        [routerLink]="['/league-year/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sapsocLeagueApp.leagueYear.home.createLabel"> Create a new League Year </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="leagueYears?.length === 0">
    <span jhiTranslate="sapsocLeagueApp.leagueYear.home.notFound">No League Years found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="leagueYears && leagueYears.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="yearStart">
            <div class="d-flex">
              <span jhiTranslate="sapsocLeagueApp.leagueYear.yearStart">Year Start</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="yearEnd">
            <div class="d-flex">
              <span jhiTranslate="sapsocLeagueApp.leagueYear.yearEnd">Year End</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leagueYear of leagueYears; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/league-year', leagueYear.id, 'view']">{{ leagueYear.id }}</a>
          </td>
          <td>{{ leagueYear.yearStart }}</td>
          <td>{{ leagueYear.yearEnd }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/league-year', leagueYear.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/league-year', leagueYear.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(leagueYear)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
