<!-- Modal -->
<div tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Add / remove players</h4>
        <button class="btn btn-primary" (click)="createNewLeaguePlayer()">New player</button>
      </div>
      <div class="modal-body">
        <div class="player-option-container">
          <h6 class="display-6">Available players</h6>
          <div *ngIf="this.newRoundService.allPlayers.length == 0">All players selected</div>
          <div class="player-option" *ngFor="let player of this.newRoundService.allPlayers | sortPlayer">
            {{ player.firstName }}
            {{ player.lastName }}
            {{ player.id }}
            <button class="btn btn-primary" (click)="this.newRoundService.addToWeek(player)">Select</button>
          </div>
        </div>

        <br />

        <div class="player-option-container">
          <h6 class="display-6">Selected players</h6>
          <div *ngIf="this.newRoundService.selectedRoundPlayers.length == 0">No players selected</div>
          <div class="player-option" *ngFor="let player of this.newRoundService.selectedRoundPlayers">
            {{ player.firstName }}
            {{ player.lastName }}
            <button class="btn btn-primary" (click)="this.newRoundService.removePlayer(player)">remove</button>
          </div>
          <button style="width: 25%" class="btn btn-secondary" (click)="this.newRoundService.randomizeSelectedPlayers()">Randomize</button>
          <button style="width: 25%" class="btn btn-secondary" (click)="this.newRoundService.rotateSelectedPlayers()">Rotate</button>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="modalSave()" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<ng-template #templateRef>
  <form [formGroup]="userForm" (ngSubmit)="submitNewPlayer()" action="">
    <label for="new-name">First name</label>
    <input id="new-name" formControlName="firstName" type="text" />
    <label for="new-last-name">Last name</label>
    <input id="new-last-name" formControlName="lastName" type="text" />
    <button type="submit">Create</button>
  </form>

  <div>
    Add a player to this semester
    <div *ngFor="let player of allPlayers">
      <div (click)="addToSemesterList(player)">{{ player.firstName }}{{ player.lastName }}</div>
    </div>
  </div>
</ng-template>
