<div>
  <h2 id="page-heading" data-cy="LeaguePlayerHeading">
    <span jhiTranslate="sapsocLeagueApp.leaguePlayer.home.title">League Players</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sapsocLeagueApp.leaguePlayer.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-league-player"
        [routerLink]="['/league-player/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sapsocLeagueApp.leaguePlayer.home.createLabel"> Create a new League Player </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="leaguePlayers?.length === 0">
    <span jhiTranslate="sapsocLeagueApp.leaguePlayer.home.notFound">No League Players found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="leaguePlayers && leaguePlayers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="firstName">
            <div class="d-flex">
              <span jhiTranslate="sapsocLeagueApp.leaguePlayer.firstName">First Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <div class="d-flex">
              <span jhiTranslate="sapsocLeagueApp.leaguePlayer.lastName">Last Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="wins">
            <div class="d-flex">
              <span jhiTranslate="sapsocLeagueApp.leaguePlayer.wins">Wins</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="losses">
            <div class="d-flex">
              <span jhiTranslate="sapsocLeagueApp.leaguePlayer.losses">Losses</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="eloRating">
            <div class="d-flex">
              <span jhiTranslate="sapsocLeagueApp.leaguePlayer.eloRating">Elo Rating</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dishes">
            <div class="d-flex">
              <span jhiTranslate="sapsocLeagueApp.leaguePlayer.dishes">Dishes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rDishes">
            <div class="d-flex">
              <span jhiTranslate="sapsocLeagueApp.leaguePlayer.rDishes">R Dishes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="photo">
            <div class="d-flex">
              <span jhiTranslate="sapsocLeagueApp.leaguePlayer.photo">Photo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="semester.id">
            <div class="d-flex">
              <span jhiTranslate="sapsocLeagueApp.leaguePlayer.semester">Semester</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leaguePlayer of leaguePlayers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/league-player', leaguePlayer.id, 'view']">{{ leaguePlayer.id }}</a>
          </td>
          <td>{{ leaguePlayer.firstName }}</td>
          <td>{{ leaguePlayer.lastName }}</td>
          <td>{{ leaguePlayer.wins }}</td>
          <td>{{ leaguePlayer.losses }}</td>
          <td>{{ leaguePlayer.eloRating }}</td>
          <td>{{ leaguePlayer.dishes }}</td>
          <td>{{ leaguePlayer.rDishes }}</td>
          <td>
            <a *ngIf="leaguePlayer.photo" (click)="openFile(leaguePlayer.photo, leaguePlayer.photoContentType)">
              <img
                [src]="'data:' + leaguePlayer.photoContentType + ';base64,' + leaguePlayer.photo"
                style="max-height: 30px"
                alt="leaguePlayer image"
              />
            </a>
            <span *ngIf="leaguePlayer.photo">{{ leaguePlayer.photoContentType }}, {{ byteSize(leaguePlayer.photo) }}</span>
          </td>
          <td>
            <div *ngIf="leaguePlayer.semester">
              <a [routerLink]="['/semester', leaguePlayer.semester.id, 'view']">{{ leaguePlayer.semester.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/league-player', leaguePlayer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/league-player', leaguePlayer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(leaguePlayer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
