Semester view

<button class="btn btn-primary" routerLink="../match-history/{{ this.leagueDataService.selectedSemesterData.semesters[0].id }}">
  View match history
</button>

<div *jhiHasAnyAuthority="'ROLE_ADMIN'">
  <form (ngSubmit)="upload()">
    <label for="fileUpload">Scores file</label>
    <input (change)="onFileSelect($event)" id="fileUpload" type="file" [formControl]="scoresFile" />

    <button type="submit">Upload</button>
  </form>
</div>

<div *jhiHasAnyAuthority="'ROLE_ADMIN'">
  <button (click)="clearRoundStorage()" routerLink="new-round">Create a new round</button>
</div>

{{ leagueDataService.selectedSemesterData.year.yearStart }}/{{ leagueDataService.selectedSemesterData.year.yearEnd }}

{{ leagueDataService.selectedSemesterData.semesters[0].semesterNum }}

<table id="leaderboard" class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Total Score</th>
    </tr>
  </thead>
  <tbody>
    <tr
      routerLink="../profile/{{ player.player.id }}"
      *ngFor="let player of leagueDataService.selectedSemesterData.players | sortScore; index as i"
    >
      <th scope="row">{{ i + 1 }}</th>
      <th>{{ player.player.firstName }} {{ player.player.lastName }}</th>
      <th>{{ player.score | sumScore }}</th>
    </tr>
  </tbody>
</table>
