<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-league-year-heading"
        data-cy="LeagueYearCreateUpdateHeading"
        jhiTranslate="sapsocLeagueApp.leagueYear.home.createOrEditLabel"
      >
        Create or edit a League Year
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sapsocLeagueApp.leagueYear.yearStart" for="field_yearStart">Year Start</label>
          <input type="number" class="form-control" name="yearStart" id="field_yearStart" data-cy="yearStart" formControlName="yearStart" />
          <div *ngIf="editForm.get('yearStart')!.invalid && (editForm.get('yearStart')!.dirty || editForm.get('yearStart')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('yearStart')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('yearStart')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sapsocLeagueApp.leagueYear.yearEnd" for="field_yearEnd">Year End</label>
          <input type="number" class="form-control" name="yearEnd" id="field_yearEnd" data-cy="yearEnd" formControlName="yearEnd" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
