<div>
  <div *ngIf="!isDataLoaded$">
    <fa-icon icon="spinner" [spin]="true"></fa-icon>
  </div>

  <div *ngIf="leagueYears.length > 0; else noYearsFound">
    <div *ngIf="isDataLoaded$" class="form-floating">
      <select [(ngModel)]="selectedYear" id="year-select" class="form-select">
        <option (click)="switchYear()" [ngValue]="year" *ngFor="let year of leagueYears">{{ year.yearStart }}/{{ year.yearEnd }}</option>
      </select>
      <label for="year-select">Year</label>
    </div>

    <div>
      Select year {{ this.selectedYear!.yearStart }}/{{ this.selectedYear!.yearEnd }}
      <p>Display this years data component</p>
    </div>

    <div *ngIf="leagueDataService.leagueData[selectedYear!.id]; else loadingSpinner">
      <div *ngIf="leagueDataService.leagueData[selectedYear!.id].semesters">
        <div *ngFor="let semester of leagueDataService.leagueData[selectedYear!.id].semesters">Semester: {{ semester.semesterNum }}</div>
      </div>

      <div *ngIf="leagueDataService.leagueData[selectedYear!.id].players; else loadingSpinner">
        <div *ngFor="let player of leagueDataService.leagueData[selectedYear!.id].players | sortScore">
          Name: {{ player.player.firstName }}
          Semester scores:
          <span *ngFor="let score of player.score"> {{ score.score }} </span>: Total score for this year
          {{ player.score | sumScore }}
        </div>
      </div>
    </div>
  </div>

  <ng-template #loadingSpinner>
    <fa-icon icon="spinner" [spin]="true"></fa-icon>
  </ng-template>

  <ng-template #noYearsFound>
    <p>There are no years to display</p>
  </ng-template>

  <button class="btn btn-secondary" (click)="leagueDataService.refresh()">Refresh</button>
</div>
