<div>
  <div *ngIf="!isDataLoaded$">
    <fa-icon icon="spinner" [spin]="true"></fa-icon>
  </div>

  <div *ngIf="leagueYears.length > 0; else noYearsFound">
    <div *ngIf="isDataLoaded$" class="form-floating">
      <select [(ngModel)]="selectedYear" id="year-select" class="form-select">
        <option (click)="switchYear()" [ngValue]="year" *ngFor="let year of leagueYears">{{ year.yearStart }}/{{ year.yearEnd }}</option>
      </select>
      <label for="year-select">Year</label>
    </div>

    <div>
      <h4>Year: {{ this.selectedYear!.yearStart }}/{{ this.selectedYear!.yearEnd }}</h4>
    </div>

    <div *ngIf="leagueDataService.leagueData[selectedYear!.id]; else loadingSpinner">
      <div class="semesters-container" *ngIf="leagueDataService.leagueData[selectedYear!.id].semesters">
        <div *ngFor="let semester of leagueDataService.leagueData[selectedYear!.id].semesters">
          <div class="card text-center" style="width: 15rem">
            <div class="card-body">
              <h5 class="display-7 card-title">Semester {{ semester.semesterNum }}</h5>
              <button (click)="selectSemester(semester.id)" routerLink="semester" class="btn btn-primary">view semester</button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="leagueDataService.leagueData[selectedYear!.id].players; else loadingSpinner">
        <table id="leaderboard" class="table table-hover table-sm">
          <caption>
            Leaderboard for Year
            {{
              selectedYear.yearStart
            }}/{{
              selectedYear.yearEnd
            }}
          </caption>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th *ngFor="let sem of leagueDataService.leagueData[selectedYear!.id].semesters; let i = index" scope="col">
                Semester {{ i + 1 }}
              </th>
              <th scope="col">Total Score</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of leagueDataService.leagueData[selectedYear!.id].players | sortScore; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <th>{{ player.player.firstName }} {{ player.player.lastName }}</th>
              <th *ngFor="let sem of leagueDataService.leagueData[selectedYear!.id].semesters; let i = index">
                <div>{{ player.score | semesterScore: sem.id }}</div>
              </th>
              <th>{{ player.score | sumScore }}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <ng-template #loadingSpinner>
    <fa-icon icon="spinner" [spin]="true"></fa-icon>
  </ng-template>

  <ng-template #noYearsFound>
    <p>There are no years to display</p>
  </ng-template>

  <button class="btn btn-secondary" (click)="leagueDataService.refresh()">Refresh</button>
</div>
