<div>
  <div *ngIf="!isDataLoaded$">
    <fa-icon icon="spinner" [spin]="true"></fa-icon>
  </div>

  <div *ngIf="leagueYears.length > 0; else noYearsFound">
    <div *ngIf="isDataLoaded$" class="form-floating">
      <select [(ngModel)]="selectedYear" id="year-select" class="form-select">
        <option (click)="switchYear()" [ngValue]="year" *ngFor="let year of leagueYears">{{ year.yearStart }}/{{ year.yearEnd }}</option>
      </select>
      <label for="year-select">Year</label>
    </div>

    <div>
      Select year {{ this.selectedYear!.yearStart }}/{{ this.selectedYear!.yearEnd }}
      <p>Display this years data component</p>
    </div>
  </div>

  <div *ngFor="let player of this.leagueDataService.leagueData[this.selectedYear!.id].players | keyvalue">
    {{ player.value.player.firstName }}
    <div>
      Score:
      {{ player.value.score[0].score }}
      {{ player.value.score[1].score }}
      <div *ngIf="player.value.score">Total score for Year: {{ leagueDataService.sumScores(player.value.score) }}</div>
    </div>
  </div>

  <ng-template #noYearsFound>
    <p>There are no years to display</p>
  </ng-template>
</div>
