<div>
  New round

  <button (click)="this.newRoundService.generateNewRound()">New round</button>

  <!-- Button trigger modal -->
  <button (click)="openModal()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
    Launch demo modal
  </button>

  <div *ngFor="let round of this.newRoundService.newWeekData.rounds | keyvalue">
    <hr />
    <div *ngFor="let match of round.value.matches | keyvalue">
      {{ match.key }}
      {{ match.value.player1.firstName }}
      {{ match.value.player1.lastName }}
      {{ match.value.player2.firstName }}
      {{ match.value.player2.lastName }}

      <input type="number" placeholder="score p1" />
      <input type="number" placeholder="score p2" />
    </div>
    <div *ngIf="round.value.bye">
      bye:
      <div>{{ round.value.bye.firstName }}</div>
      <div>{{ round.value.bye.lastName }}</div>
    </div>
  </div>
</div>
