<div>
  <h2>New Round</h2>

  <div class="new-round-admin-tools">
    <div>
      <button class="btn btn-primary" (click)="this.newRoundService.generateNewRound()">New round</button>

      <button (click)="openModal()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
        Add/remove players
      </button>

      <button class="btn btn-danger" (click)="this.newRoundService.clearLocalData()">Clear week</button>

      <!-- Button trigger modal -->
    </div>

    <div>
      <button (click)="this.newRoundService.printNewWeekData()">Copy round to clipboard</button>

      <div>
        <form action="" (submit)="this.newRoundService.updateCurrentMatchesFromFormat()">
          <label for="match-text-area"></label>
          <textarea [formControl]="this.newRoundService.match_data" id="match-text-area"></textarea>
          <button type="submit">Upload</button>
        </form>
      </div>
    </div>
  </div>

  <div id="roundContainer" class="roundContainer">
    <div
      class="round bg-gradient"
      *ngFor="let round of this.newRoundService.newWeekData.rounds | keyvalue: newRoundService.unsorted; index as i"
    >
      <h2>Round {{ i }}</h2>
      <div>
        <button (click)="newMatchModal(round.key)">Add match</button>
      </div>
      <hr />
      <div *ngFor="let match of round.value.matches | keyvalue: newRoundService.unsorted">
        <div class="match" *ngIf="match.value">
          <div class="match-names">
            <p class="p1Name">
              {{ match.value.player1.firstName }}
              {{ match.value.player1.lastName }}
            </p>
            <p class="vs">v</p>
            <p class="p2Name">
              {{ match.value.player2.firstName }}
              {{ match.value.player2.lastName }}
            </p>
          </div>

          <div class="match-scores">
            <div>
              <input
                (change)="updateMatchScore($event, match.value, true)"
                value="{{ match.value.p1Score }}"
                min="0"
                max="1"
                type="number"
                placeholder=""
              />
              <input
                (change)="updateMatchScore($event, match.value, false)"
                value="{{ match.value.p2Score }}"
                min="0"
                max="1"
                type="number"
                placeholder=""
              />
            </div>
          </div>
          <div>
            <button class="btn btn-outline-danger" (click)="removeMatchFromRound(match.key, round.key)" id="delete-match">X</button>
          </div>
        </div>
      </div>

      <hr />

      <div *ngIf="round.value.bye">
        bye:
        <div>{{ round.value.bye.firstName }}</div>
        <div>{{ round.value.bye.lastName }}</div>

        <button
          class="btn btn-outline-danger"
          (click)="removeByeFromRound(round.key)"
          id="delete-bye"
          onclick='return confirm("Are you sure you want to remove bye?")'
        >
          X
        </button>
      </div>

      <div *ngIf="!round.value.bye">
        Add a bye
        <select class="byeSelect" [(ngModel)]="byePlayer" name="byePlayer">
          <option disabled selected value>--select an option--</option>
          <option *ngFor="let player of this.newRoundService.selectedRoundPlayers" [ngValue]="player">
            <p>{{ player.firstName }}, {{ player.lastName }}</p>
          </option>
        </select>

        <button (click)="addByePlayer(round.key)">Save</button>
      </div>
    </div>
  </div>

  <button class="btn btn-secondary" onclick="confirm('Upload week?')" (click)="newRoundService.uploadRound()">Upload results</button>
  Only at end of session
</div>
