<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="leagueYear">
      <h2 data-cy="leagueYearDetailsHeading"><span jhiTranslate="sapsocLeagueApp.leagueYear.detail.title">League Year</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ leagueYear.id }}</span>
        </dd>
        <dt><span jhiTranslate="sapsocLeagueApp.leagueYear.yearStart">Year Start</span></dt>
        <dd>
          <span>{{ leagueYear.yearStart }}</span>
        </dd>
        <dt><span jhiTranslate="sapsocLeagueApp.leagueYear.yearEnd">Year End</span></dt>
        <dd>
          <span>{{ leagueYear.yearEnd }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/league-year', leagueYear.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
