<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="semester">
      <h2 data-cy="semesterDetailsHeading"><span jhiTranslate="sapsocLeagueApp.semester.detail.title">Semester</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ semester.id }}</span>
        </dd>
        <dt><span jhiTranslate="sapsocLeagueApp.semester.semesterNum">Semester Num</span></dt>
        <dd>
          <span>{{ semester.semesterNum }}</span>
        </dd>
        <dt><span jhiTranslate="sapsocLeagueApp.semester.year">Year</span></dt>
        <dd>
          <div *ngIf="semester.year">
            <a [routerLink]="['/league-year', semester.year.id, 'view']">{{ semester.year.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/semester', semester.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
