<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-semester-score-heading"
        data-cy="SemesterScoreCreateUpdateHeading"
        jhiTranslate="sapsocLeagueApp.semesterScore.home.createOrEditLabel"
      >
        Create or edit a Semester Score
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sapsocLeagueApp.semesterScore.score" for="field_score">Score</label>
          <input type="number" class="form-control" name="score" id="field_score" data-cy="score" formControlName="score" />
          <div *ngIf="editForm.get('score')!.invalid && (editForm.get('score')!.dirty || editForm.get('score')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('score')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('score')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sapsocLeagueApp.semesterScore.semester" for="field_semester">Semester</label>
          <select
            class="form-control"
            id="field_semester"
            data-cy="semester"
            name="semester"
            formControlName="semester"
            [compareWith]="compareSemester"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="semesterOption" *ngFor="let semesterOption of semestersSharedCollection">{{ semesterOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sapsocLeagueApp.semesterScore.player" for="field_player">Player</label>
          <select
            class="form-control"
            id="field_player"
            data-cy="player"
            name="player"
            formControlName="player"
            [compareWith]="compareLeaguePlayer"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="leaguePlayerOption" *ngFor="let leaguePlayerOption of leaguePlayersSharedCollection">
              {{ leaguePlayerOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
